<a href="https://colab.research.google.com/github/Sreelekshmim123/DataPreprocessing/blob/main/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*voting system*

Method 1

In [2]:
age = int(input("insert your age:"))
if age >= 18:
    print("vote")
else:
  print("can't vote")

insert your age:16
can't vote

Method 2

In [3]:
age = int(input("insert your age:"))
print("vote") if age>=18 else print("can't vote")

insert your age:55
vote

Method 3

In [4]:
age = int(input("Insert your age:"))

result = "Vote" if age >= 18 else "Can not vote"

print(result)

Insert your age:18
Vote

Positive/Negative number program

Method 1

In [5]:
num = int(input("insert a number:"))
if num>0:
  print("The number is positive")
elif num<0:
  print("The number is negative")
else:
  print("The number is zero")

insert a number:-20
The number is negative

Method 2

In [6]:
num = int(input("insert a number:"))
if num>=0:
  if num == 0:
    print("zero")
  else:
    print("positive")
else:
  print("negative")

insert a number:20
positive

Method 3

In [7]:
num = int(input("Insert a number:"))
if num == 0:
    print("Zero")
else:
    result = "Positive" if num > 0 else "Negative"
    print(result)

Insert a number:0
Zero

Printing all operations

In [9]:
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
sum = a+b
sub = a-b
mul = a*b
div = a/b
flor = a//b
print("The sum is",sum)
print("The sub is",sub)
print("The mul is",mul)
print("The div is",div)
print("The flor is",flor)

Enter the first number12
Enter the second number-9
The sum is 3
The sub is 21
The mul is -108
The div is -1.3333333333333333
The flor is -2

Number is Even / Odd

Method 1

In [10]:
num =  int(input("Enter a number"))
if num % 2 == 0:
  print("number is even")
else:
  print("number is odd")

Enter a number2697
number is odd

Method 2

Method 2

In [11]:
num = int(input("Enter a Number:"))

result = "Even" if num % 2 == 0 else "Odd"
print(result)

Enter a Number:254756312
Even

Method 3

In [12]:
def isEven(num):

    # n&1 is 1, then odd, else even
    return not(num & 1)


num = int(input("Insert a number:"))
print("Even" if isEven(num) else "Odd")

Insert a number:1223565656644
Even

Grading Scheme

Method 1

In [13]:
marks = int(input("Enter your marks"))
if marks < 0 or marks > 100:
  print("Invalid marks")
elif marks < 50:
  print("F")
elif marks >=50 and marks <60:
  print("D")
elif marks >=60 and marks <70:
  print("C")
elif marks >=70 and marks <80:
  print("B")
elif marks >=80 and marks <90:
  print("A")
else:
  print("A+")

Enter your marks65
C

In [16]:
marks=int(input("Enter your marks: "))
if marks<0 or marks>100:
  print("invalid")
elif marks<50:
  print("Grade F")
elif marks<60:
  print("Grade D")
elif marks<70:
  print("Grade C")
elif marks<80:
  print("Grade B")
elif marks<90:
  print("Grade A")
else:
  print("Grade A+")

Enter your marks: 12
Grade F

Roun off number

In [18]:
import math

n = float(input("Insert a number:"))
print(math.ceil(n))
print(math.floor(n))
print(round(n))

Insert a number:2.325
3
2
2

Square root and cube root

In [20]:
import math
a = int(input("Enter first number: "))
b  = int(input("Enter second number: "))
c = int(input("Enter third number: "))
sqroot = math.sqrt(a)
square = b**2
cuberoot = c**(1/6)
print("Square root",sqroot)
print("Square",square)
print("Cube root",cuberoot)

Enter first number: 12
Enter second number: 15
Enter third number: 46
Square root 3.4641016151377544
Square 225
Cube root 1.892894046431534

Multiplication table

In [21]:
num = int(input("Enter the number"))
print("Multiplication table of ",num)
for i in range(1,11):
  print(num,'x',i,'=',num*i)

Enter the number12
Multiplication table of  12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

Greatest of two numers

In [26]:
first = int(input("Enter first number:"))
second = int(input("Enter second number:"))

if first == second:
    print("Both are Equal")
elif first > second:
    print(first, " is Greater")
else:
    print(second, " is Greater")

Enter first number:4546546546
Enter second number:5665465465
5665465465  is Greater

Greatest 3 number

In [28]:
first = int(input("Enter first number:"))
second = int(input("Enter second number:"))
third = int(input("Enter third number:"))

temp = first if first > second else second

result = temp if temp > third else third
print(result , " is the greatest")

Enter first number:6546546546
Enter second number:465465464
Enter third number:3463554545454
3463554545454  is the greatest

N power of number

Method 1 by usung inbuilt functions

In [29]:
base = float(input("Enter the base: "))
expo = float(input("Enter the exponent: "))
result = pow(base,expo)
print(result)

Enter the base: 12
Enter the exponent: 2
144.0

Method 2

In [31]:
base = float(input("Enter the base: "))
expo = float(input("Enter the exponent: "))
result = 1
while expo!=0:
  result = result*base
  expo = expo-1
print(result)

Enter the base: 5
Enter the exponent: 3
125.0

**Break statement**

***Problem Statement***


Write a program to print all numbers between two intervals, namely low and high. But, with a special condition that if any number in the range while getting printed becomes divisible by 13 then you must not print anything further and stop. (Do this using the Break Statement)


Example -

Input -

1 10

Output

1 2 3 4 5 6 7 8 9 10

In [34]:
low = int(input("Enter the lower limit"))
high = int(input("Enter the higher limit"))
for i in range(low,high+1):
  print(i,end=" ")
  if i%13 == 0:
    break

Enter the lower limit-18
Enter the higher limit0
-18 -17 -16 -15 -14 -13

**Continue statement**

Problem Statement

Write a program to print all numbers between two intervals, namely low and high. But, with a special condition that numbers divisible by 5 must not be printed and skipped. (Do this using continue Statement)

Sample Input

1 10

Sample Output

1 2 3 4 6 7 8 9

In [35]:
low = int(input("Enter the lower limit"))
high = int(input("Enter the higher limit"))
for i in range(low,high+1):
  if i%5 == 0:
    continue
  print(i,end=" ")

Enter the lower limit1
Enter the higher limit10
1 2 3 4 6 7 8 9

Implement 1D array

In [36]:
num = int(input("Enter the size of array: "))
arr = []
for i in range(num):
  arr.append(int(input()))
print("The elements are : ")
for i in range(num):
  print(arr[i], end=" ")

Enter the size of array: 10
12
5
5
454
6
32
32
45
75
56
The elements are :
12 5 5 454 6 32 32 45 75 56

Implement 2D array

In [37]:
R = int(input("Enter the number of rows:"))
C = int(input("Enter the number of columns:"))

# Initialize matrix
matrix = []
print("Enter the entries row-wise:")

# For user input
for i in range(R):  # A for loop for row entries
    a = []
    for j in range(C):  # A for loop for column entries
        a.append(int(input()))
    matrix.append(a)

# For printing the matrix
for i in range(R):
    for j in range(C):
        print(matrix[i][j], end=" ")
    print()

Enter the number of rows:2
Enter the number of columns:2
Enter the entries row-wise:
12
15
13
4
12 15
13 4